static/js/highstock.js linguist-vendored=true
static/js/jquery-3.2.1.min.js linguist-vendored=true
static/js/moment.js linguist-vendored=true
static/js/moment-timezone-with-data-2012-2022.js linguist-vendored=true

