input {
	width: 60px;
	text-align: center;
}

select {
	width: 64px;
	text-align: center;
}

#form-thresholds {
	border:1px solid black;
	max-width: 550px;
	display: flex;
	flex-wrap: wrap;
	margin: 10px auto;
	justify-content: center;
}

#form-thresholds label {
	width: 170px;
}

#form-thresholds-bottom {
	display: flex;
	justify-content: center;
	border-top: 1px solid grey;
	width: 100%;
}

#light-table-bottom {
	display: flex;
	justify-content: center;
	width: 100%;
}

#light-result {
	text-align: center;
}

#light-when {
	width: 220px;
	margin-top: 10px;
}

#light-who {
	width: 150px;
}

#form-light {
	border:1px solid black;
	max-width: 245px;	
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#form-light-bottom, #form-costs-bottom {
	display: flex;
	justify-content: center;
	border-top: 1px solid grey;
	width: 100%;
}

#light-table, #costs-table {
	border-collapse: collapse;
	width: 100%;
	padding: 10px;
	text-align: center;
}

#light-table-container {
	width: 550px;
	margin: 10px;
}

#edit-light-cfg {
	margin: 10px auto;
}

#history-chart {
	border:1px solid black;
	width: 620px;
	margin: 10px auto;
	display: flex;
/*	flex-direction: column;*/
	justify-content: center;
	flex-wrap: wrap;
}

#history-chart > .blue-button {
	margin: 10px;
	padding: 3px 5px;
	width: 120px;
}

.chart {
	width: 600px;
	height: 300px;
}

#form-costs {
	border:1px solid black;
	width: 250px;
/*	height: 170px;*/
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#costs-table-column {
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#costs-table-container {
	margin-top: 10px;	
}

#form-period-costs {
	border:1px solid black;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

#form-period-costs > .input-group {
	justify-content: flex-start;
}

#costs-from, #costs-to {
	width: 150px;
}