body {
   position: relative;
/*   color: #0C3C60;*/
	margin 0;
}

#navbar {
	background-color: #0C3C60;
	min-height: 40px;
	color: white;
}

#navbar a{
     color: white;
     text-decoration:none;
}

#navbar > a:hover {
	text-shadow: 0px 0px 10px white;
}

.nav-list {
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	height: 100%;
}

.nav-title {
	font-size: 26px;
	margin-right: auto;
	margin-left: 20px;
}

.nav-link {
	font-size: 18px;
	margin: 0px 10px;
}