body {
/*   position: relative;*/
	color: #0C3C60;
	margin: 0;
	font-family: "Roboto";
}

#navbar {
	background-color: #0C3C60;
	min-height: 40px;
	color: white;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0px 20px;
	position: fixed;
	top: 0;
	width: 100%;
	box-sizing: border-box;
}

#navbar a{
     color: white;
     text-decoration:none;
}

#navbar > a:hover {
	text-shadow: 0px 0px 15px white;
}

.nav-title {
	font-size: 26px;
	margin-right: auto;
}

.nav-link {
	font-size: 18px;
	margin-left: 20px;
}

.login-out {
	border: 1px solid white;
	border-radius: 2px;
	font-size: 14px;
	text-align: center;
/*	width: 60px;*/
	margin-left: 20px;
	padding: 3px;
}

h1.sec-title {
	font-size: 30px;
	margin: 30px auto;
	padding: 0;
}

section {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	margin-top: 40px;
}

.colored-section {
	background-color: AliceBlue;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
/*	display: flex;*/
	border: 1px solid black;
	border-radius: 5px;
	flex-direction: column;
	justify-content: center;
	min-width: 160px;
	padding: 20px;
	margin: 10px;
}

.card-title {
	font-size: 20px;
	font-weight:bold;
	text-align: center;
	margin-bottom: 20px;

}

.card-value {
	font-size: 32px;
/*	font-weight:bold;*/
	text-align: center;
	margin-bottom: 20px;
	color: #041726;
}

.green {
	color: DarkGreen;
}

.red {
	color: DarkRed;
}

.card-act-switch {
	border: 1px solid black;
	border-radius: 2px;
	font-size: 26px;
	text-align: center;
	width: 60px;
	margin: 0 auto 20px;
	cursor: pointer;
}

.card-output {
	border: 1px solid black;
	width: 55px;
	height: 18px;
	text-align: center;
	font-size: 16px;
}

.card-item {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.card-item-name {
	font-size: 16px;
	text-align: center;
	margin-right: 10px;
}

.card-cam-snapshot {
	width: 650px;
	height: 400px;
	border: 1px solid black;
}

.toggle-button {
	border:1px solid black;
	display: flex;
	cursor: pointer;
	align-items: center;
	text-align: center;
}

.toggle-button * {	width: 20px; height: 18px; }
.one, .two {border-left: 1px solid black;}

.toggle-button .zero { background-color: #dc3545;}
.toggle-button .one, .two { background-color: transparent;}

.toggle-button-on .one { background-color: #28a745; }
.toggle-button-on .zero, .two{ background-color: transparent; }

.toggle-button-two .two { background-color: #28a745; }
.toggle-button-two .zero, .one { background-color: transparent; }