body {
/*   position: relative;*/
	color: #0C3C60;
	margin: 0;
	font-family: "Roboto";
}


#main-img {
	display: block;
}

#navbar {
	background-color: #0C3C60;
	min-height: 40px;
	color: white;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0px 20px;
	position: sticky;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	z-index: 10;
}

#navbar a{
    color: white;
    text-decoration:none;
}

#navbar > a:hover {
	text-shadow: 0px 0px 15px white;
}

.nav-title {
	font-size: 26px;
	margin-right: auto;
}

.nav-link {
	font-size: 18px;
	margin: 0 10px;
}

.login-button {
	border: 1px solid white;
	border-radius: 2px;
	font-size: 14px;
	text-align: center;
	margin-left: 10px;
	padding: 3px;
	background-color: #0C3C60;
	color: white;
}

.blue-button {
	border: 1px solid #041726;
	border-radius: 2px;
	text-align: center;
	margin: 10px;
	padding: 3px;
	background-color: #0C3C60;
	color: white;
	min-width: 60px;
	max-width: 100px;
	cursor: pointer;
}

.blue-button-active {
	background-color: #125d96;
}

h1.sec-title {
	font-size: 30px;
	margin: 30px auto;
	padding: 0;
}

hr {
	width: 100%;
	margin: 0;
}

section {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	padding-bottom: 30px;
}

.colored-section {
	background-color: AliceBlue;
}

#not-found, #forbidden {
	text-align: center;
	padding: 50px 0;
	margin-top: 70px;
}

.text {
	width: 50%;
	text-align: justify;
	margin: 0 auto;
}

.input-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 10px;
}

.input-group > label{
	margin-right: 10px;
	vertical-align: middle;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
/*	display: flex;*/
	border: 1px solid black;
	border-radius: 5px;
	flex-direction: column;
	justify-content: center;
	min-width: 160px;
	padding: 20px;
	margin: 10px;
}

.card-title {
	font-size: 20px;
	font-weight:bold;
	text-align: center;
	margin-bottom: 20px;

}

.card-value {
	font-size: 32px;
/*	font-weight:bold;*/
	text-align: center;
	margin-bottom: 20px;
	color: #041726;
}

.green {
	color: DarkGreen;
}

.red {
	color: DarkRed;
}

.card-act-switch {
	border: 1px solid black;
	border-radius: 2px;
	font-size: 16px;
	text-align: center;
	width: 50px;
	margin: 0 auto 20px;
	cursor: pointer;
}

.card-output {
	border: 1px solid black;
	width: 55px;
	height: 18px;
	text-align: center;
	font-size: 16px;
}

.card-item {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.card-item-name {
	font-size: 16px;
	text-align: center;
	margin-right: 10px;
}

.card-cam-snapshot {
	width: 650px;
	height: 400px;
	border: 1px solid black;
}

.toggle-button, .toggle-button-on, .toggle-button-two {
	border:1px solid black;
	display: flex;
	cursor: pointer;
	align-items: center;
	text-align: center;
}

.zero, .one, .two { width: 20px; height: 18px; }
.one, .two {border-left: 1px solid black;}

.toggle-button .zero { background-color: #dc3545;}
.toggle-button .one, .two { background-color: transparent;}

.toggle-button-on .one { background-color: #28a745; }
.toggle-button-on .zero, .two{ background-color: transparent; }

.toggle-button-two .two { background-color: #28a745; }
.toggle-button-two .zero, .one { background-color: transparent; }

#dev-table-container {
	width: 550px;
	margin: 10px;
}

#dev-table {
	border-collapse: collapse;
	width: 100%;
	padding: 10px;
}

th {
	border:1px solid gray;
	padding: 10px;
}

td {
	padding: 8px;
	border:1px solid gray;
}

#dev-table td:nth-child(4) {
	text-align:center;
}

tbody tr:hover {
	cursor: pointer;
	background-color: AliceBlue;
}

.checked-table-row {
	background-color: Lavender;
}

#dev-raw-config {
	border:1px solid black;
	min-width: 400px;
	min-height: 250px;	
	margin: 10px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#dev-raw-config > textarea {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.form-result {
	display: none;
	text-align: center;
}