{% extends "layout.html" %}
{% block main %}
{% include 'navbar.html' %}
		<section id="thresholds">
			<h1 class="sec-title">Thresholds</h1>
			<div id="form-thresholds">
				<div class="input-group">
					<label for="interval-min">Cycles' interval (m):</label>
					<input type="number" id="interval-min" min="1" value="0">
				</div>
				<div class="input-group">
					<label for="min-temp">Min temperature (°C):</label>
					<input type="number" id="min-temp" value="0">
				</div>
				<div class="input-group">
					<label for="max-temp">Max temperature (°C):</label>
					<input type="number" id="max-temp" value="0">
				</div>
				<div class="input-group">
					<label for="max-hum">Max humidity (%):</label>
					<input type="number" id="max-hum" min="0" max="100" value="0">
				</div>
				<div class="input-group">
					<label for="min-moist">Min soil moisture (%):</label>
					<input type="number" id="min-moist" min="0" max="100" value="0">
				</div>
				<div class="input-group">
					<label for="max-moist">Max soil moisture (%):</label>
					<input type="number" id="max-moist" min="0" max="100" value="0">
				</div>
				<div id="form-thresholds-bottom">
					<div id="update-params" class="blue-button">Update</div>
					<div id="reset-params" class="blue-button">Reset</div>
					<p id="set-param-result" class="form-result"></p>
				</div>
			</div>
		</section>
		<section id="light-schedule">
			<h1 class="sec-title">Light Schedule</h1>
			<div class="cards">
				<div id="light-table-container">
					<table id="light-table">
						<thead>
							<tr>
								<th>Who</th>
								<th>When</th>
								<th>How Long (h)</th>
								<th>How Often (h)</th>
								<th>Enabled</th>
							</tr>
						</thead>
						<tbody>	
						</tbody>
					</table>
					<div id="light-table-bottom">
						<div id="light-add" class="blue-button">Add</div>
						<div id="light-delete" class="blue-button">Delete</div>
					</div>
					<p id="light-result" class="form-result"></p>
				</div>
				<div id="form-light">
					<div class="input-group">
						<label for="light-who">Who:</label>
						<input type="text" id="light-who">
					</div>
					<div class="input-group">
						<label for="light-when">When:</label>
						<input type="datetime-local" id="light-when">
					</div>
					<div class="input-group">
						<label for="light-duration">How Long (h):</label>
						<input type="number" id="light-duration">
					</div>
					<div class="input-group">
						<label for="light-interval">How Often (h):</label>
						<input type="number" id="light-interval">
					</div>
					<div class="input-group">
						<label for="light-enabled">Enabled:</label>
						<select id="light-enabled">
							<option value="true">true</option>
							<option value="false">false</option>
						</select>
					</div>
					<div id="form-light-bottom">
						<div id="light-save" class="blue-button">Save</div>
					</div>
				</div>
			</div>
		</section>		
		<section id="history">
			<h1 class="sec-title">History</h1>
			<script type = "text/javascript" src="{{ url_for('static', filename='js/moment.js') }}"></script>
			<script type = "text/javascript" src="{{ url_for('static', filename='js/moment-timezone-with-data-2012-2022.js') }}"></script>
			<script type = "text/javascript" src="{{ url_for('static', filename='js/highstock.js') }}"></script>

			<div id="history-chart">
				<div id="current-chart" class="chart"></div>
				<div id="temp-chart" class="blue-button">Temperature</div>
				<div id="hum-chart" class="blue-button">Humidity</div>
				<div id="moist-chart" class="blue-button">Soil moisture</div>
			</div>
		</section>

		<section id="costs">
			<h1 class="sec-title">Costs</h1>
			<div class="cards">
				<div id="form-costs">
					<div class="input-group">
						<label for="elec-price">Electricity (€/KWh):</label>
						<input type="number" id="elec-price">
					</div>
					<div class="input-group">
						<label for="water-price">Water (€/mc):</label>
						<input type="number" id="water-price">
					</div>
					<div class="input-group">
						<label for="server-w">Server (W):</label>
						<input type="number" id="server-w">
					</div>
					<div id="form-costs-bottom">
						<div id="costs-save" class="blue-button">Save</div>
					</div>
				</div>				
				<div id="costs-table-column">
					<div id="form-period-costs">
						<div class="input-group">
							<label for="costs-from">From:</label>
							<input type="date" id="costs-from">
						</div>
						<div class="input-group">
							<label for="costs-to">To:</label>
							<input type="date" id="costs-to">
						</div>
						<div id="costs-ok" class="blue-button">Ok</div>
					</div>
					<div id="costs-table-container">
						<table id="costs-table">
							<thead>
								<tr>
									<th>Device Type</th>
									<th>Quantity</th>
									<th>Avg Daily Cost</th>
									<th>Total Cost</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/control.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/control.js') }}"></script>
{% endblock %}