{% extends "layout.html" %}
{% block main %}
		<section id="dev-cards">
			<h1 class="sec-title">Devices</h1>
			<div class="cards">

				{% if devs['th'] %}
				<div id="card-temp" class="card">
					<div class="card-title">Temperature</div>
					<div class="card-value">-°C</div>
					{% for name in devs['th'] %}
					<div id="item-{{name}}" class="card-item">
						<div class="card-item-name">{{name}}</div>
						<div class="card-output">-°C</div>						
					</div>
					{% endfor %}		
				</div>

				<div id="card-hum" class="card">
					<div class="card-title">Humidity</div>
					<div class="card-value">-%</div>
					{% for name in devs['th'] %}
					<div id="item-{{name}}" class="card-item">
						<div class="card-item-name">{{name}}</div>
						<div class="card-output">-°%</div>						
					</div>
					{% endfor %}	
				</div>
				{% endif %}
				{% if devs['moist'] %}
				<div id="card-moist" class="card">
					<div class="card-title">Soil Moisture</div>
					<div class="card-value">-%</div>
					{% for name in devs['moist'] %}
					<div id="item-{{name}}" class="card-item">
						<div class="card-item-name">{{name}}</div>
						<div class="card-output">-°%</div>						
					</div>
					{% endfor %}							
				</div>
				{% endif %}
			</div>
			<div class="cards">
				{% if devs['fans'] %}
				<div id="card-fan" class="card">
					<div class="card-title">Ventilation</div>
					<div class="card-act-switch">-</div>
					{% for name in devs['fans'] %}
					<div id="item-{{name}}" class="card-item">
						<div class="card-item-name">{{name}}</div>
						<div class="toggle-button">
							<div id="fan-zero" class="zero"></div>
							<div id="fan-one" class="one"></div>
							<div id="fan-two" class="two"></div>
						</div>	
					</div>
					{% endfor %}					
				</div>
				{% endif %}
				{% if devs['heating'] %}
				<div id="card-heating" class="card">
					<div class="card-title">Heating</div>
					<div class="card-act-switch">-</div>
					{% for name in devs['heating'] %}
					<div id="item-{{name}}" class="card-item">
						<div class="card-item-name">{{name}}</div>
						<div class="toggle-button">
							<div class="zero"></div>
							<div class="one"></div>
						</div>						
					</div>
					{% endfor %}		
				</div>
				{% endif %}
				{% if devs['grow_lights'] %}
				<div id="card-glights" class="card">
					<div class="card-title">Grow Lights</div>
					<div class="card-act-switch">-</div>
					{% for name in devs['grow_lights'] %}
					<div id="item-{{name}}" class="card-item">
						<div class="card-item-name">{{name}}</div>
						<div class="toggle-button">
							<div class="zero"></div>
							<div class="one"></div>
						</div>						
					</div>	
					{% endfor %}				
				</div>
				{% endif %}
				{% if devs['irrigation'] %}
				<div id="card-water" class="card">
					<div class="card-title">Irrigation</div>
					<div class="card-act-switch">-</div>
					{% for name in devs['irrigation'] %}
					<div id="item-{{name}}" class="card-item">
						<div class="card-item-name">{{name}}</div>
						<div class="toggle-button">
							<div class="zero"></div>
							<div class="one"></div>
						</div>						
					</div>	
					{% endfor %}				
				</div>
				{% endif %}				
			</div>
			{% if devs['cameras'] %}
			<div class="cards">
				{% for name in devs['cameras'] %}
				<div class="card">
					<div class="card-title">{{name}}</div>
					<div class="card-cam-snapshot"></div>
				</div>
				{% endfor %}		
			</div>
			{% endif %}
		</section>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		
{% endblock %}