{% extends "layout.html" %}
{% block main %}
{% include 'navbar.html' %}
{% macro gen_switch(id, state_index) -%}
	{% set value = devs['active_control'][state_index] %}
					<div id="{{ id }}" class="{% if value %}green{% else %}red{% endif %} card-act-switch" data-state-index="{{ state_index }}" data-value="{{ not value }}">
						{% if value %}AUTO{% else %}MAN{% endif %}
					</div>
{%- endmacro %}

		<section id="dev-cards">
			<h1 class="sec-title">Devices</h1>
			<div class="cards">
				{% if devs['temp_hum_sensors'] %}
				<div id="card-temp" class="card">
					<div class="card-title">Temperature</div>
					<div class="card-value">{{devs['averages'][1]}}°C</div>
					{% for name, state in devs['temp_hum_sensors'].items() %}
					<div id="{{name}}" class="card-item">
						<div class="card-item-name">{{name}}</div>
						<div class="card-output">{{state[0]}}°C</div>						
					</div>
					{% endfor %}		
				</div>

				<div id="card-hum" class="card">
					<div class="card-title">Humidity</div>
					<div class="card-value">{{devs['averages'][2]}}%</div>
					{% for name, state in devs['temp_hum_sensors'].items() %}
					<div id="{{name}}" class="card-item">
						<div class="card-item-name">{{name}}</div>
						<div class="card-output">{{state[1]}}%</div>						
					</div>
					{% endfor %}	
				</div>
				{% endif %}
				{% if devs['soil_moist_sensors'] %}
				<div id="card-moist" class="card">
					<div class="card-title">Soil Moisture</div>
					<div class="card-value">{{devs['averages'][3]}}%</div>
					{% for name, state in devs['soil_moist_sensors'].items() %}
					<div id="{{name}}" class="card-item">
						<div class="card-item-name">{{name}}</div>
						<div class="card-output">{{state}}%</div>						
					</div>
					{% endfor %}							
				</div>
				{% endif %}
			</div>
			<div class="cards">
				{% if devs['ventilation'] %}
				<div id="card-ventilation" class="card">
					<div class="card-title">Ventilation</div>
					{{- gen_switch("ventilation-switch", 0) }}
					{%- for name, state in devs['ventilation'].items() %}
					<div id="{{name}}" class="card-item">
						<div class="card-item-name">{{name}}</div>
						{% if not state[0] %}
						<div class="toggle-button">
						{% elif state[1]<=50 %}
						<div class="toggle-button-on">
						{% else %}
						<div class="toggle-button-two">
						{% endif %}
							<div class="zero" data-target="off"></div>
							<div class="one" data-target="fan-50"></div>
							<div class="two" data-target="fan-100"></div>
						</div>	
					</div>
					{% endfor %}					
				</div>
				{% endif %}
				{% if devs['heating'] %}
				<div id="card-heating" class="card">
					<div class="card-title">Heating</div>
					{{ gen_switch("heating-switch", 1) }}
					{% for name, state in devs['heating'].items() %}
					<div id="{{name}}" class="card-item">
						<div class="card-item-name">{{name}}</div>
						{% if not state %}
						<div class="toggle-button">
						{% else %}
						<div class="toggle-button-on">
						{% endif %}
							<div class="zero" data-target="off"></div>
							<div class="one" data-target="on"></div>
						</div>						
					</div>
					{% endfor %}		
				</div>
				{% endif %}
				{% if devs['grow_lights'] %}
				<div id="card-glights" class="card">
					<div class="card-title">Grow Lights</div>
					{{ gen_switch("light-switch", 2) }}
					{% for name, state in devs['grow_lights'].items() %}
					<div id="{{name}}" class="card-item">
						<div class="card-item-name">{{name}}</div>
						{% if not state %}
						<div class="toggle-button">
						{% else %}
						<div class="toggle-button-on">
						{% endif %}
							<div class="zero" data-target="off"></div>
							<div class="one" data-target="on"></div>
						</div>						
					</div>	
					{% endfor %}				
				</div>
				{% endif %}
				{% if devs['irrigation'] %}
				<div id="card-water" class="card">
					<div class="card-title">Irrigation</div>
					{{ gen_switch("irrigation-switch", 3) }}
					{% for name, state in devs['irrigation'].items() %}
					<div id="{{name}}" class="card-item">
						<div class="card-item-name">{{name}}</div>
						{% if not state[0] %}
						<div class="toggle-button">
						{% else %}
						<div class="toggle-button-on">
						{% endif %}
							<div class="zero" data-target="off"></div>
							<div class="one" data-target="on"></div>
						</div>						
					</div>	
					{% endfor %}				
				</div>
				{% endif %}				
			</div>
			{% if devs['cameras'] %}
			<div class="cards">
				{% for name in devs['cameras'] %}
				<div class="card">
					<div class="card-title">{{name}}</div>
					<div class="card-cam-snapshot">
						<img src="/agricoltura/methods/getLastSnapshot?camera_name={{name}}" class="snapshot" alt="Camera Snapshot">
					</div>
				</div>
				{% endfor %}		
			</div>
			{% endif %}
		</section>
		<section id="dev-config">
			<h1 class="sec-title">Configurations</h1>
			<div class="cards">
				<div id="dev-table-container">
					<table id="dev-table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Model</th>
								<th>Enabled</th>
							</tr>
						</thead>
						<tbody>	
						</tbody>
					</table>
				</div>
				<div id="dev-raw-config">
					<textarea>
					</textarea>
					<div id="dev-config-bottom">
						<div id="edit-dev-cfg" class="blue-button">Save</div>
						<p id="edit-cfg-result" class="form-result"></p>
					</div>
				</div>
			</div>
		</section>

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/devices.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/devices.js') }}"></script>
		
{% endblock %}