{% extends "layout.html" %}
{% block main %}
		<img id="main-img" src="{{ url_for('static', filename='main_img.jpg') }}">
		{% include 'navbar.html' %}
		<section id="what">
			<h1 class="sec-title">What</h1>
			<div class="text">
				<p>
					Agricoltura is a framework designed to operate automated greenhouses.
					Ours are provided with a range of sensors and actuators to check, log and control their own protected environment.
					The user can either directly control them or completely rely on the system.
					Both safety and security are guaranteed within Agricoltura.
				</p>
			</div>
			<!-- <div class="row justify-content-center">
				<div class="col-auto border rounded border-dark m-4 my-card">
					<div class="row border-dark border-bottom p-2 my-card-title">
						<div class="col">Monitor</div>				
					</div>
					<div class="row p-1 pt-3 pb-3">
						<div class="col">Monitor present and past situation.</div>				
					</div>	
					<div class="row border-dark border-top p-2">
						<div class="col text-center">
							<a href="{{ url_for('web_interface.monitor') }}" class="btn text-light btn-sm my-btn">Go</a>
						</div>
					</div>							
				</div>
				
				<div class="col-auto border rounded border-dark m-4 my-card">
					<div class="row border-dark border-bottom p-2  my-card-title">
						<div class="col">Control</div>				
					</div>
					<div class="row p-1 pt-3 pb-3">
						<div class="col">Control environmental conditions and check costs.</div>				
					</div>	
					<div class="row border-dark border-top p-2">
						<div class="col text-center">
							<a href="{{ url_for('web_interface.control') }}" class="btn text-light btn-sm my-btn">Go</a>
						</div>
					</div>							
				</div>
				
				<div class="col-auto border rounded border-dark m-4 my-card">
					<div class="row border-dark border-bottom p-2  my-card-title">
						<div class="col">Manage</div>				
					</div>
					<div class="row p-1 pt-3 pb-3">
						<div class="col">Manage system's status, log and users.</div>				
					</div>	
					<div class="row border-dark border-top p-2">
						<div class="col text-center">
							<a href="{{ url_for('web_interface.system') }}" class="btn text-light btn-sm my-btn">Go</a>
						</div>
					</div>							
				</div>													
			</div>-->
		</section>
		
		<section id="why" class="colored-section">
			<h1 class="sec-title">Why</h1>
			<div class="text">
				<p>
					Agricoltura was born as a bachelors degree's final project, specifically in Computer Science and Engineering.
					It's set in a context of rapid technologic innovation in the agriculture sector, 
					which the commissioning company thought it was worth investing in.						
				</p>
				<p>
					The idea was experimenting on the model of precision agriculture. 
					A technique that relies on constant readings about environmental parameters to decide where, how and when to operate.
				</p>
			</div>
		</section>
		
		<section id="who">
			<h1 class="sec-title">Who</h1>
			<div class="text">
				<p>
					Agricoltura has been commissioned in 2018 by <a href="http://www.araneum.it"><em>Araneum Group</em></a>, 
					an IT company based in Rome that specializes in consulting.
					It was then designed and developed, with the help of the company's team, by Gabriele Capparella. 
				</p>
			</div>
		</section>
{% endblock %}