{% extends "layout.html" %}
{% block body %}
	<body data-spy="scroll" data-target="#navbar" data-offset="70">
		<h1>Monitor</h1>

		<nav id="navbar" class="navbar navbar-expand-sm navbar-dark fixed-top">
			<a class="navbar-brand" href="#">Monitor</a>
			<ul class="nav navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="#right-now">Right now</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#history">History</a>
				</li>
			</ul>
			<a href="{{ url_for('web_interface.index') }}" class="btn btn-outline-light btn-sm ml-2" role="button">Index</a>
		</nav>
		<section id="right-now" class="container-fluid text-center p-5">
			<h3>Right now</h3>
			<div class="row justify-content-center m-4">
				<div class="col-auto p-0 flexbox">
					<div class="container border rounded border-dark my-card m-2 pt-2 pb-2">
						<div class="row p-2">
							<div class="col-8 text-left pl-4">Temperature</div>
							<div id="temp-reading" class="col-auto p-0 border border-dark my-card-output mr-1">-</div>°C
						</div>
						<div class="row p-2">
							<div class="col-8 text-left pl-4">Humidity</div>
							<div id="hum-reading" class="col-auto p-0 border border-dark my-card-output mr-1">-</div>%
						</div>
						<div class="row p-2">
							<div class="col-8 text-left pl-4">Moisture</div>
							<div id="moist-reading" class="col-auto p-0 border border-dark my-card-output mr-1">-</div>%
						</div>
					</div>

					<div class="container border rounded border-dark my-card m-2 pt-2 pb-2">
						<div class="row p-2">
							<div class="col-8 text-left pl-4">Light</div>
							<div id="light-on" class="col-auto p-0 border border-dark my-card-output">off</div>
						</div>
						<div class="row p-2">
							<div class="col-8 text-left pl-4">Fan</div>
							<div id="fan-on" class="col-auto p-0 border border-dark my-card-output">off</div>
						</div>
						<div class="row p-2">
							<div class="col-8 text-left pl-4">Irrigation</div>
							<div id="water-on" class="col-auto p-0 border border-dark my-card-output">off</div>
						</div>
					</div>
					<p id="last-reading-timestamp" class="last-something">-</p>
				</div>


				<div class="col border rounded border-dark cam-snapshot m-2 p-2">
					<img src="/agricoltura/snapshot" class="img-fluid" alt="Camera Snapshot">
				</div>
			</div>
		</section>

		<section id="history" class="container-fluid text-center p-5 colored-section">
			<h3>History</h3>

			<script type = "text/javascript" src="{{ url_for('static', filename='js/moment.js') }}"></script>
			<script type = "text/javascript" src="{{ url_for('static', filename='js/moment-timezone-with-data-2012-2022.js') }}"></script>
			<script type = "text/javascript" src="{{ url_for('static', filename='js/highstock.js') }}"></script>

			<div class="container border rounded border-dark text-right mt-4 mb-4" style="width: 620px">
				<div class="row justify-content-center p-2">
					<div id="current-chart" class="chart"></div>
				</div>
				<div class="row border-dark border-top p-2">
					<div id="chart-btns" class="col text-center">
						<a id="temp-chart" class="btn text-light btn-sm my-btn">Temperature</a>
						<a id="hum-chart" class="btn text-light btn-sm my-btn">Humidity</a>
						<a id="moist-chart" class="btn text-light btn-sm my-btn">Soil moisture</a>
					</div>
				</div>
			</div>
		</section>

		<script type = "text/javascript" src="{{ url_for('static', filename='js/monitor.js') }}"></script>
	</body>
{% endblock %}
