		<nav id="navbar">
			<a class="nav-title" href="/agricoltura">Agricoltura</a>
			<a class="nav-link" href="/agricoltura/monitor">Monitor</a>
			<a class="nav-link" href="/agricoltura/control">Control</a>
			<a class="nav-link" href="/agricoltura/system">System</a>
			<a class="nav-link" href="/agricoltura/devices">Devices</a>
			<div class="login-button">
				{% if session.logged_in %}				
				<a href="login">Logout</a>
				{% else %}	
				<a href="login">Login</a>
				{% endif %}
			</div>
		</nav>	