{% extends "layout.html" %}
{% block main %}
{% include 'navbar.html' %}
		<section id="status">
			<h1 class="sec-title">Status</h1>
			<div id="status-container">
				<div class="status-group">
					<div class="status-label">Cpu temp:</div>
					<div id="status-cpu-temp" class="status-output"></div>
				</div>
				<div class="status-group">
					<div class="status-label">Storage:</div>
					<div id="status-storage" class="status-output"></div>
				</div>
				<div class="status-group">
					<div class="status-label">RAM:</div>
					<div id="status-ram" class="status-output"></div>
				</div>
				<div class="status-group">
					<div class="status-label">Uptime:</div>
					<div id="status-uptime" class="status-output"></div>
				</div>				
			</div>
		</section>
		<section id="logs">
			<h1 class="sec-title">Logs</h1>
			<div id="logs-container">
				<div id="logs-current">
					<textarea id="logs-textarea"></textarea>
				</div>
				<div id="logs-bottom">
					<div id="logs-main" class="blue-button">Main</div>
					<div id="logs-sensors" class="blue-button">Sensors</div>
					<div id="logs-db" class="blue-button">Database</div>	
				</div>
			</div>
		</section>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/system.css') }}">
		<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/system.js') }}"></script> -->
{% endblock %}			